{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}
    Reset Password
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Reset your password</h1>
        <p>Forgot your password? Enter an email and we will send you a message with further instructions</p>

        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Reset Password</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}